
.tickercontainer {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
* {
    box-sizing: border-box;
}
.tickercontainer:before, .tickercontainer:after {
    display: table;
    content: " ";
}
#marqueecontainer {
    position: relative;
    width: 250px;
    height: 400px;
    background-color: white;
    overflow: hidden;
    padding: 2px;
    padding-left: 4px;
}
.modern-ticker {
	width:100%;
	min-height:38px;
	line-height:36px;
	font-size:16px;
	overflow:hidden;
	padding:0px;
		background:#e8e8e8;
		margin:10px auto;
		border:thin solid #ccc;
	
}

.modern-ticker1 {
	width:100%;
	height:35px;
	line-height:35px;
	font-size:16px;
	overflow:hidden;
	padding:0px;
		background:e8e8e8;
		margin-top:10px;
	
}

.modern-ticker a {
	text-decoration:none
}
.modern-ticker ul {
	margin:0;
	padding:0;
	list-style:none
}
.mt-round {
	border-radius:0px
}
.mt-body {
	position:relative
}
.mt-label {
	margin-right:10px;
	padding:1px 8px 0px 12px;
	position:absolute;
	left:0;
	

}

.mt-label:after {
   content:"";
   position: absolute;
   left: 96%;
   top: 9px;
   width: 0;
   height: 0;
   border-top: 10px solid transparent;
   border-left: 15px solid #4b6367;
   border-bottom: 10px solid transparent;
   
}
.mt-round .mt-label {

}


.mt-news {
	overflow:hidden;
	position:absolute
}
.mt-scroll .mt-news {
	background-color:transparent
}
.mt-news ul {
	background-repeat:no-repeat;
	background-position:-1000px
}
.mt-news li {
	float:left;
}
.mt-round .mt-news:first-child, .mt-round .mt-news:first-child a {
	
}
.mt-round .mt-news:last-child, .mt-round .mt-news:last-child a {

}
.mt-news a {
	font-size:15px;
	margin-right:2px;
	background-repeat:no-repeat;
	background-position:7px center;
	display:block;
	white-space:nowrap;
	background-image:url(../images/bullet.png);
	padding-left:20px;
		padding-right:5px;
		line-height:36px;
		margin-right:10px;
}
.mt-scroll.mt-round .mt-news a {
	border-radius:0
}
.mt-hide {
	display:none
}


.mt-controls {
	margin-left:2px;
	position:absolute;
	right:0;
	background-repeat:no-repeat;
	background-position:-1000px
}
.mt-next, .mt-play, .mt-prev {
	width:30px;
	height:36px;
	background-repeat:no-repeat;
	background-position:center;
	float:left;
	cursor:pointer
}
.mt-round .mt-next {
	border-radius:0px
}
.modern-ticker {
	color:#fafafa;
	background-color:#fff;
}
.mt-label {
	background-color:#4b6367
}
.mt-news {
	background-color:#e8e8e8
}
.mt-preloader {
	background:url(../images/preloader.gif) no-repeat center
}
.mt-news ul {
	
}
.mt-news a {
	color: green;
	border:none;
}
.mt-news a:hover {
	color:#fafafa;
	background-color:#999999;
	border-color:#f20;

}
.mt-news a:active {
	background-color:#07f
}
.mt-controls {
	background-image:url(../images/pause.png)
}
.mt-next, .mt-prev {
	background-color:#4b6367
}
.mt-prev {
	background-image:url(../images/arrow-prev.png)
}
.mt-next {
	background-image:url(../images/arrow-next.png)
}
.mt-play {
	background-color:#ed8114;
	background-image:url(../images/play.png)
}
.mt-pause {
	background-image:url(../images/pause.png)
}
.mt-next:hover, .mt-play:hover, .mt-prev:hover {
	background-color:#D81B60
}
.mt-next:active, .mt-play:active, .mt-prev:active {
	background-color:#D81B60
}