@font-face {
  font-family: flaticon;
  src: url(./Flaticon.eot);
  src: url(./Flaticon.eot?#iefix) format("embedded-opentype"), url(./Flaticon.woff2) format("woff2"), url(./Flaticon.woff) format("woff"), url(./Flaticon.ttf) format("truetype"), url(./Flaticon.svg#Flaticon) format("svg");
  font-weight: 400;
  font-style: normal
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: flaticon;
    src: url(./Flaticon.svg#Flaticon) format("svg")
  }
}

[class^=flaticon-]:before,
[class*=" flaticon-"]:before,
[class^=flaticon-]:after,
[class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.flaticon-airplane:before {
  content: "\f100"
}

.flaticon-add:before {
  content: "\f101"
}

.flaticon-ferry:before {
  content: "\f102"
}

.flaticon-box:before {
  content: "\f103"
}

.flaticon-lorry:before {
  content: "\f104"
}

.flaticon-warehouse:before {
  content: "\f105"
}
