@import 'style.css';
.logo {
  width: 96px;
  height: 96px;
}

.logo-text {
  color: green;
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 0;
}

.logo-text p {
  margin-bottom: 0;
}

.carousel {
  height: 60vh;
  background-color: green;
}

.carousel-inner {
  padding-left: 20px;
  padding-right: 20px;
}

.carousel-item p {
  font-size: 1.9rem;
  color: white;
  text-align: center;
}

.building {
  width: 25%;
  height: auto;
}

.description {
  font-size: 1.2rem;
  padding: 24px;
}

.card-div {
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 10px;
}

.form-header {
  width: 100%;
}

.card-header {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
}

.uploaded-item {
  display: inline-block;
  width: 32%;
  padding: 2%;
  text-align: center;
}

.uploaded-item a {
  color: black;
  text-transform: capitalize;
}

.app-lists {
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.125);
  background-color: white;
  border-radius: 6px;
}

.site-logo {
  position: absolute;
  font-size: 2rem;
  font-weight: 900;
  line-height: 0;
  margin: 0;
  padding: 0;
  z-index: 3;
}

.site-navbar {
  margin-bottom: 0;
  z-index: 999;
  position: relative;
  width: 100%;
  padding: 1rem;
}

@media (max-width: 991.98px) {
  .site-navbar {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.header-link {
  margin-left: 15px;
  margin-right: 15px;
  padding: 20px 0;
  color: #000 !important;
  display: inline-block;
  text-decoration: none !important;
  line-height: 1.7rem;
  font-weight: 400;
  font-size: 1rem;
}

.header-link-active {
  color: #1d9a5b !important;
}

@media only screen and (max-width: 600px) {
  .header-mobile {
    display: none;
  }
  .header {
    padding: 10px;
  }
  .header-menu {
    width: 30%;
    text-align: right;
  }
  .header-menu a {
    color: black;
  }
  .header-menu .dropdown-menu {
    transform: translate3d(-50px, 55px, 0px);
  }
  .dropdown-toggle::after {
    display: none;
  }
  .icon-font {
    font-size: 36px;
  }

  .site-logo {
    position: absolute;
    font-size: 1.4rem;
    font-weight: 900;
    line-height: 0;
    margin: 0;
    padding: 0;
    z-index: 3;
  }
  .application-container {
    padding: 10px;
  }
}

@media only screen and (max-width: 350px) {
  .header-mobile {
    display: none;
  }
  .site-logo {
    position: absolute;
    font-size: 1.4rem;
    font-weight: 900;
    line-height: 0;
    margin: 0;
    padding: 0;
    z-index: 3;
  }
  .header-menu {
    width: 15%;
    text-align: right;
  }
  .header-lang .dropdown-menu {
    transform: translate3d(-100px, 55px, 0px);
  }
  .icon-font {
    font-size: 20px;
  }
  .application-container {
    padding: 10px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1030px) {
  .header-mobile {
    display: none;
  }
  .header-menu a {
    color: black;
  }
  .header {
    padding: '12px 48px';
  }
  .site-logo {
    position: absolute;
    font-size: 2rem;
    font-weight: 900;
    line-height: 0;
    margin: 0;
    padding: 0;
    z-index: 3;
  }
  .dropdown-toggle::after {
    display: none;
  }
  .header-menu {
    width: 15%;
    text-align: right;
  }
  .header-lang .dropdown-menu {
    transform: translate3d(-100px, 55px, 0px);
  }
  .icon-font {
    font-size: 40px;
  }

  .application-container {
    padding: 30px;
  }
}

@media only screen and (min-width: 1030px) {
  .application-container {
    padding: 30px;
  }
  .header-menu {
    display: none;
  }
}

.admin-list-container {
  max-width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 10px;
  padding: 10px 0;
  border-top-left-radius: 0;
  min-height: 100vh;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: white;
  background-color: rgb(29, 154, 91);
  border-color: #ddd;
}

.text-1d9a5b {
  color: #1d9a5b !important;
}

.btn-primary {
  color: white;
  background-color: #1d9a5b;
  border-color: #1d9a5b;
  font-size: 0.9rem;
  line-height: 1.5;
}

.btn-primary:hover {
  color: #fff;
  background-color: #d97600;
  border-color: #cc6f00;
}


.stats_searchBox{
  width: 250px;
  float: right;
  margin: 10px;
  clear: right;
}