.timeline{
    width: 100%;
    padding: 50px 0;
}

.timeline-bar{
    position: absolute;
    width: 100%;
    height: 2px;
    top: 24px;
    background: lightgray;
}

.timeline-bar-current{
    position: absolute;
    width: 100%;
    height: 2px;
    top: 24px;
    background: green;
}

.timeline-circle-current{
    border: 5px solid green;
    position: absolute;
    border-radius: 5px;
    right:47%;
    top: 20px;
}

.timeline-bar-completed{
    position: absolute;
    width: 100%;
    height: 2px;
    top: 24px;
    background: green;
}

.timeline-circle-completed{
    border: 2px solid green;
    position: absolute;
    border-radius: 5px;
    right: 47%;
    top: 20px;
    height: 10px;
    width: 10px;
    background: white;
}

.timeline-item{
    display: inline-block;
    width: 25%;
    height: 50px;
    position: relative;
}

.timeline-circle{
    border: 5px solid lightgrey;
    position: absolute;
    border-radius: 5px;
    right: 47%;
    top: 20px;
}

.timeline-status{
    bottom: 37px;
    position: absolute;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    overflow-wrap: break-word;
}

@media only screen and (max-width: 360px){
    .timeline-status{
        font-size: 6px;
    }
}

@media only screen and (min-width: 361px) and (max-width: 600px){
    .timeline-status{
        font-size: 7px;
    }
}